<!DOCTYPE html>
<html>
<head>
  <title>Raddit</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="logo" class="navbar-brand"><%= link_to "Raddit", root_path %></div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <% if user_signed_in? -%>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active"><%= link_to 'Submit link', new_link_path %></li>
        <li class="nav-item active"><%= link_to 'Account', edit_user_registration_path %></li>
        <li class="nav-item active"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      <% else -%>
        <li class="nav-item active"><%= link_to 'Sign up', new_user_registration_path %></li>
        <li class="nav-item active"><%= link_to 'Sign in', new_user_session_path %></li>
    </ul>
    <% end -%>
  </div>
</nav>
-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "Raddit", root_path %></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<header class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Raddit", root_path %></div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <% if user_signed_in? -%>
            <ul class="navbar-nav">
              <li><%= link_to 'Submit link', new_link_path %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else -%>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
        </div>
      </div>
    </div>
  </header>
<div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
<div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>